---
layout: default
---
<article class="container px-2 mx-auto mb4" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="h0 col-9 sm-width-full py-4 mt-3 inline-block" itemprop="name headline">{{ page.title }}</h1>
  <div class="col-4 sm-width-full mt-1 border-top-thin ">
    <p class="mb-3 py-2 bold h4"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  </div>

  <div class="prose" itemprop="articleBody">
      {{ content }}
  </div>

</article>

<h3>Comments</h4>

<div id="comments" class="zp-main">
  <div class="zp-inputs">
      <p>
          <span class="zp-br">&nbsp;</span>
          <span class="zp-description"> </span>
      </p>
      <p class="zp-help-message">&nbsp;</p>
      <p><span class="zp-input-label"> </span></p>
      <input  type="text" />
      <p><span class="zp-pass-label"> </span></p>
      <input type="password" />
      <div class="zp-comments-edit-profile">
          <p><span class="zp-textarea-description">Description</span></p>
          <textarea></textarea>
      </div>
  </div>
  <div class="zp-comments-links">
      <a class="zp-submit-link zp-form-link" href="#">submit</a>
      <a class="zp-signup-link zp-form-link" href="#">signup</a>
      <a class="zp-login-link zp-form-link" href="#">login</a>
      <a class="zp-edit-profile-link zp-form-link" href="#">edit profile</a>
  </div>
  <div class="zp-comments"></div>
</div>
<script>
  // Takes ID, subuser token, div ID, and options. 
  commentsify('044afe26-7cf1-44b6-a27a-a2303a30e655', 'cjs_token', 'comments', {layout: "standard", auth: "3pa"})
</script>

<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next.html %}
</div>

